/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jul, 2023, 8:36:04 PM
    Author     : 22014687
*/

.header{
text-align: center;   
font-weight: bold; 
}
.center{
text-align: center;   
}
.background {
    background-color: #666666;
}
